<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Tareas</div>

                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td colspan="5">
                                    <form name="task-form">
                                        <div class="form-group">
                                            <label class="label">Tarea</label>
                                            <div class="input-group">

                                                <input type="text" class="form-control" placeholder="Ingrese una Tarea" aria-label="Input a Task" aria-describedby="btnGroupAddon" v-model="newtask">
                                                <div class="input-group-prepend">
                                                    <div class="btn btn-primary" id="btnGroupAddon" @click="addTask">Add</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <th width="70%">Tarea</th>
                                <th width="20%">Estatus</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                            <tr v-for="task in tasks" :key="task.id">
                                <td>{{ task.task }}</td>
                                <td>{{ (task.completed == 'si' ? "Hecha" : "Por Hacer") }}</td>
                                <td>
                                    <button:button class="btn btn-info" v-if="task.status == 0" @click="completeTask(task)">Hacer</button:button>
                                    <button:button class="btn btn-warning" v-else @click="completeTask(task)">Deshacer</button:button>
                                </td>
                                <td>
                                    <button:button class="btn btn-danger" v-if="task.status == 0" @click="deleteTask(task)">Eliminar</button:button>
                                    <button:button class="btn btn-danger disabled" v-else>Eliminar</button:button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  mounted() {
    this.allTasks();
  },
  data(){
    return {
      message: 'Bienvenidos al Workshop 4Geeks de VueJS!',
      newtask: '',
      tasks: []
    }
  },
  methods: {
    allTasks() {
      axios
        .get("http://localhost:8000/api/task")
        .then(response => {
          console.log(response.data.message);
          this.tasks = response.data.tasks;
        })
        .catch(error => {
          console.log(error);
        });
    },
    addTask() {
      axios
        .post("http://localhost:8000/api/task", {
          task: this.newtask,
          status: 1
        })
        .then(response => {
          alert(response.data.message);
          console.log(response.data.message);
          this.newtask = "";
          this.allTasks();
        })
        .catch(error => {
          console.log(error);
        });
    },
    completeTask(task) {
      axios
        .put("http://localhost:8000/api/task/" + task.id, {
          task: task.task,
          status: task.status == 1 ? 0 : 1
        })
        .then(response => {
          alert(response.data.message);
          console.log(response.data.message);
          this.allTasks();
        })
        .catch(error => {
          console.log(error);
        });
    },
    deleteTask(task) {
      axios
        .delete("http://localhost:8000/api/task/" + task.id)
        .then(response => {
          alert(response.data.message);
          console.log(response.data.message);
          this.allTasks();
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

